package core

import "github.com/condemo/raspi-home-service/views/layout"
import "github.com/condemo/raspi-home-service/tools"
import "github.com/condemo/raspi-home-service/views/components"

templ Home(i *tools.SysInfo) {
	@layout.Base("Home") {
		<div hx-ext="ws" ws-connect="/ws/info"></div>
		@components.InfoBar(i)
	}
}
